@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Itim&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
    font-family: "Itim", cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
   object-fit: cover;
   object-position: center;
   width: 100%;
   
}

/*LAYOUT*/

.container {
    max-width:985px ;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* CONTENT */

.title {
    text-align: center;
    font-size: 82px;
    padding: 25px 0;
    background-image:url(../img/wall.png);
}

body {
    background-image: url(../img/cork.png);
}

.col-row {
    justify-content: space-between;
    margin-top: 48px;
    
}

.col-3 {
    width: calc(100% / 3);
    flex-shrink: 0;
    padding: 11px;
    
}

.card {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 15px;
    flex-shrink: 0;
}

.card-body {
    padding-top: 15px;
}

/* DEBUG */

.debug {
    border: 2px solid black;
}

/* RESPONSIVE*/

